<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vTag</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/pictures/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>

    <nav class="flex-nav general">
      <div class="nav-symbol">
        <img class="character" src="../pictures/pic_adobespark.png" alt="Character picture">
        <h1 class="darkBgFontColor">vTag</h1>
      </div>
      <div class="dropdown">
        <a href= "/">Home</a>
        <a href="/videos">Videos</a>
      </div>
    </nav>

    <div class="lightBgFontColor darkBgFontColor flex-container">
      <div class="flex-info">
        <iframe
           class="lightbg"
           src="https://clips.twitch.tv/embed?clip=ChillySmallLasagnaPlanking-aCp5MsHJfUSUZsAn&parent=localhost&https://arcane-eyrie-36117.herokuapp.com/"
           height="360"
           width="640"
           allowfullscreen="true" autoplay= "false" SameSite=None>
        </iframe>
      </div>
      <hr class="vertical-rule">
      <div class="flex-info">
        <iframe
          class="lightbg"
           src="https://clips.twitch.tv/embed?clip=PatientAgileRadicchioChocolateRain-3Ew78JnstHcozhT-&parent=localhost&https://arcane-eyrie-36117.herokuapp.com/"
           height="360"
           width="640"
           allowfullscreen="true" autoplay= "false" SameSite=None>
        </iframe>
      </div>
    </div>

    <div class="flex-container-colored flex-container darkBgFontColor">
      <div class="flex-info">
        <iframe
           class="darkbg"
           src="https://clips.twitch.tv/embed?clip=SucculentShyGoldfishThunBeast-eLxmc0j_BmIY4CNS&parent=localhost&https://arcane-eyrie-36117.herokuapp.com/"
           height="360"
           width="640"
           allowfullscreen="true" autoplay= "false" SameSite=None>
        </iframe>
      </div>
      <hr class="vertical-rule-alt">
      <div class="flex-info">
        <iframe
           class="darkbg"
           src="https://clips.twitch.tv/embed?clip=ReliableColdbloodedKuduDxAbomb-4gw58pm3M1lvaj1A&parent=localhost&https://arcane-eyrie-36117.herokuapp.com/"
           height="360"
           width="640"
           allowfullscreen="true" autoplay= "false" SameSite=None>
        </iframe>
      </div>
    </div>



    <footer class="general darkBgFontColoralt">
      <p><span>★ </span> Say Hi <span> ★</span></p>
      <div class="darkBgFontColoralt flex-footer">
        <a href="https://www.instagram.com/"><p class="footer"><i class="fab fa-instagram"></i></p></a>
        <a href="https://discord.com/invite/TVfWYTnJKK"><p class="footer"><i class="fab fa-discord"></i></p></a>
        <a href="https://www.twitch.tv/veeetag"><p class="footer"><i class="fab fa-twitch"></i></p></a>
      </div>

      <p class="copyright">Made By &#169; Comrade <%= year %> <!--replace with date function --></p>
    </footer>


<script src="index.js" charset="utf-8"></script>
  </body>
</html>
